---
grails:
    appName: collectory
    serverURL: http://localhost:8080
    profile: web
    codegen:
        defaultPackage: au.org.ala.collectory
    config:
        locations:
            - file:/data/collectory/config/collectory-config.properties
            - file:/data/collectory/config/collectory-config.yml
            - file:/data/collectory/config/collectory-config.groovy
    gorm:
        reactor:
            # Whether to translate GORM events into Reactor events
            # Disabled by default for performance reasons
            events: false
info:
    app:
        name: '@info.app.name@'
        version: '@info.app.version@'
        grailsVersion: '@info.app.grailsVersion@'
spring:
    jmx:
        unique-names: true
    main:
        banner-mode: "off"
    groovy:
        template:
            check-template-location: false
    devtools:
        restart:
            additional-exclude:
                - '*.gsp'
                - '**/*.gsp'
                - '*.gson'
                - '**/*.gson'
                - 'logback.groovy'
                - '*.properties'
management:
    endpoints:
        enabled-by-default: false

---
grails:
    mime:
        disable:
            accept:
                header:
                    userAgents:
                        - Gecko
                        - WebKit
                        - Presto
                        - Trident
        types:
            all: '*/*'
            atom: application/atom+xml
            css: text/css
            csv: text/csv
            form: application/x-www-form-urlencoded
            html:
              - text/html
              - application/xhtml+xml
            js: text/javascript
            json:
              - application/json
              - text/json
            multipartForm: multipart/form-data
            pdf: application/pdf
            rss: application/rss+xml
            text: text/plain
            hal:
              - application/hal+json
              - application/hal+xml
            xml:
              - text/xml
              - application/xml
    urlmapping:
        cache:
            maxsize: 1000
    controllers:
        defaultScope: singleton
    converters:
        encoding: UTF-8
    views:
        default:
            codec: html
        gsp:
            encoding: UTF-8
            htmlcodec: xml
            codecs:
                expression: html
                scriptlet: html
                taglib: none
                staticparts: none
---
hibernate:
    cache:
        queries: false
        use_second_level_cache: false
        use_query_cache: false

regionName: Australia
uploadFilePath: /data/collectory/upload
uploadExternalUrlPath: http://localhost/upload
gbifApiUrl: 'http://api.gbif.org/v1/'
gbifUniqueKeyTerm: "http://rs.gbif.org/terms/1.0/gbifID"

skin:
    layout: ala-main
    fluidLayout: true
    homeUrl: http://www.ala.org.au
    orgNameLong: Atlas of Living Australia
    orgNameShort: Atlas
    favicon: https://www.ala.org.au/app/uploads/2019/01/cropped-favicon-32x32.png

headerAndFooter:
    baseURL: https://www.ala.org.au/commonui-bs3-2019
    version: 2

security:
    cas:
        bypass: true

repository:
    location:
        images: /data/collectory/data

disableAlertLinks: true
disableLoggerLinks: true
biocacheServicesUrl: https://biocache.ala.org.au/ws
biocacheUiURL: https://biocache.ala.org.au

cartodb:
    pattern: "https://cartodb-basemaps-${s}.global.ssl.fastly.net/light_nolabels/${z}/${x}/${y}.png"

eml:
    organizationName: Atlas of Living Australia
    deliveryPoint: CSIRO Ecosystems Services
    city: Canberra
    administrativeArea: ACT
    postalCode: 2601
    country: Australia

dataSource:
    pooled: true
    jmxExport: true
    driverClassName: com.mysql.jdbc.Driver
    username: root
    password: 'password'

environments:
    development:
        grails:
            assets:
                storagePath: "/data/collectory"
        dataSource:
            dbCreate: update
            url: jdbc:mysql://localhost:3306/collectory?autoReconnect=true&connectTimeout=0&useUnicode=true&characterEncoding=UTF-8
    test:
        grails:
            assets:
                storagePath: "/data/collectory"
        dataSource:
            dbCreate: update
            url: jdbc:h2:mem:testDb;MVCC=TRUE;LOCK_TIMEOUT=10000;DB_CLOSE_ON_EXIT=FALSE
    production:
        grails:
            assets:
                storagePath: "/data/collectory"
        dataSource:
            dbCreate: none
            url: jdbc:h2:./prodDb;MVCC=TRUE;LOCK_TIMEOUT=10000;DB_CLOSE_ON_EXIT=FALSE
            properties:
                jmxEnabled: true
                initialSize: 5
                maxActive: 50
                minIdle: 5
                maxIdle: 25
                maxWait: 10000
                maxAge: 600000
                timeBetweenEvictionRunsMillis: 5000
                minEvictableIdleTimeMillis: 60000
                validationQuery: SELECT 1
                validationQueryTimeout: 3
                validationInterval: 15000
                testOnBorrow: true
                testWhileIdle: true
                testOnReturn: false
                jdbcInterceptors: ConnectionState
                defaultTransactionIsolation: 2 # TRANSACTION_READ_COMMITTED
